body {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding-top: 4.5rem;
}


.tabela {
    /* tabela z planem */
    border-color: #c0c0c0
}



th {
    text-align: center;
    background-color: #ccc;
    color: #000;
    font-size: 13px
}


a.n {
    /* nauczyciel */
    color: #777
}

a.s {
    /* sala */
    color: #777
}

a.k {
    /* klasa */
    color: #777
}

.p {
    /* przedmiot */
    color: ##ee3733;
    font-weight: bold
}

.op {
    /* napis */
    color: #ee3733;
    font: 10px verdana, sans-serif
}

@media print {
    .tabtytul {
        /* nagłówek do druku */
        display: none
    }
}

#link {
    color: #ee3733;
}
}